
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */

@import url('https://fonts.googleapis.com/css2?family=Raleway');

/* Add any additional CSS rules below                      */
@import url('https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css');

html {
  text-align: center;
  /*-- Main font sizes --*/
  --title-size:      50px;
  --body-size:       1.06rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #000000;
  --header-color:    rgba(0, 0, 0, 0.8);
  --body-color:      rgba(0, 0, 0, 0.8);
  --aside-color:     rgba(0, 0, 0, 0.6);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    "Raleway", sans-serif;
  --mono-font:       "Raleway", monospace;
  --body-font:       "Raleway", sans-serif;
  --navbar-font:     "Raleway", sans-serif;  /* websites + blogs only */
}


/* Add CSS styles to make images responsive to window size*/
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       .8rem;
  --body-color:      rgba(0, 0, 0, 0.8);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(0, 0, 0, 0.65);
  --text-size:       0.8em;
  --text-color:      rgba(0, 0, 0, 0.5);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

/* --------------Navbar-------------------- */

.distill-site-header{ 
  padding: 14px 0px; /*nav bar size*/
}

.distill-site-header {
  --title-size:       24px; /*increase title size, default was 18px*/
  --text-color:       rgba(255, 255, 255, 0.8);
  --text-size:        24px;
  --hover-color:      white;
  --bkgd-color:       #000000;
}

.distill-site-footer {
  --text-color:       rgba(255, 255, 255, 0.8);
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:       #000000;
}

/*-- Additional custom styles --*/
.distill-site-header .logo img{
  max-height: 40px; /* Makes logo bigger, default was 20px */
}

/* styles.css */
body {
  background-image: url('images/background.png');
  background-size: cover; /* Ensure the image covers the entire background */
  background-position: center; /* Center the image */
  background-repeat: yes-repeat; /* Repeat the image to fill screen*/
}